.container {
  max-width: 100%
}
.column {
  padding: 4px;
}

body {
  background: #d4f1ff;
}

div.primary {
	background: #fcfcf5;
}

figure {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4px;
  border-radius: 8px;
}

figure a img {
  border-radius: 8px;
}

figcaption * {
  font-size: 10px;
  background: #f5f5f5;
  border-radius: 8px;
}

.header {
	background: #fcfcf5;
}

.logo--mixed .logo__img {
  border-radius: 50%;
}

.widget-social__link {
  border-radius: 12px;
}

a.widget-social__link {
	color: #fffca6;
  background-color: #529dff;
}

.time {
  align-items:center;
  font-size: 1.4rem;
	color: #fffca6;
  background-color: #529dff;
  border-radius: 8px;
}
