.container {
  max-width: 100%
}
.column {
  padding: 4px;
}


figure {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4px;
  border-radius: 8px;
}

figure a img {
  border-radius: 8px;
}

figcaption * {
  font-size: 10px;
  background: #f5f5f5;
  border-radius: 8px;
}

.widget-social__link {
  border-radius: 12px;
}

.time {
  align-items:center;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #2a2a2a;
  border-radius: 8px;
}
